.frontbutton {
    width: 150px;
    display:block;
    
}

.frontpage {
    text-align: center;
}

.frontStatus {
	color: gray;
	text-align: center;
	padding-top: 20px;
}

.selectedPlace {
	background-color: yellow;
	color: red;
}

.notSelectedPlace {
	background-color: white;
	color: black;
}


.hiddenDiv {
    display:none;
}

.editTable {
    border-collapse: collapse;
}

.editTable td {
    border: 1px solid #CCC;
	padding: 5px 5px 5px 5px;
}

.notificationDiv {
    border: 2px solid red;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-weight:bold;
    background-color: yellow;
    color: red;
}

.placeLink a {
    background-color: white;
}

.filler span {
    width:30px;
    display:inline;
}

.reminderTitle {
    display: block;
}

.reminderItemDetails {
    display: inline;
}

.reminderButton {
    display: inline;
}

.reminderItemEditCell {
    display: inline;
}

.reminderItemDeleteCell {
    display: inline;
}

.disabledReminder {
    color: grey;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 1em;  
}

h1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight:bold;
   font-size: 1.2em;
}


li.reminderListItem {
   padding: 2px 2px 2px 2px;
   display:block;
   width:100%;
}

li.reminderListItem :hover {
    background-color: #FFFF66;
}

li.reminderListItem a {
    text-decoration: none;
    width:100%;
    display:block;
}


li.placeListItem {
   padding: 2px 2px 2px 2px;
   display:block;
   width:100%;
}

li.placeListItem :hover {
    background-color: #FFFF66;
}

li.placeListItem button {
    display:inline;
}

li.placeListItem a {
    text-decoration: none;
    width:100%;
    display:block;
}




ul#viewList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#placeUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
