.frontbutton {
    width: auto;
}

.frontpage {
    text-align: center;
}

.frontStatus {
	color: gray;
	text-align: center;
	padding-top: 20px;
}

.reminderTable {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

.reminderTable th {
    text-align:left;
}

.selectedPlace {
	background-color: yellow;
	color: red;
}

.notSelectedPlace {
	background-color: white;
	color: black;
}


.hiddenDiv {
    display:none;
}

.editTable {
    border-collapse: collapse;
}

.editTable td {
    border: 1px solid #CCC;
	padding: 5px 5px 5px 5px;
}

.notificationDiv {
    border: 2px solid red;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-weight:bold;
    background-color: yellow;
    color: red;
}

.placeLink a {
    background-color: white;
}

.filler span {
    width:30px;
}
