.frontbutton {
    width: auto;
}

.frontpage {
    text-align: center;
}

.frontStatus {
	color: gray;
	text-align: center;
	padding-top: 20px;
}

.reminderTable {
	
		border: 1px solid black;
		padding: 5px;
		width: 100%;
}
